.toggle_container {
    position: absolute;
    top: 0%;
    right: 1em;
}

.toggler {
    visibility: hidden;
}

.toggler+label {
    margin-bottom: 0;
    display: flex;
    align-items: center;
    font-size: 1em;
    cursor: pointer;
}

.toggler+label::before {
    content: '';
    height: 1em;
    width: 2em;
    border-radius: 1em;
    border: 1px solid var(--toggle-fg);
    background-color: var(--toggle-bg);
    transition: background-color 500ms ease-in-out;
}

.toggler+label::after {
    content: '';
    height: .8em;
    width: .8em;
    border-radius: 1em;
    border: 1px solid var(--toggle-bg);
    background-color: var(--toggle-fg);
    position: absolute;
    left: 0.2em;
}

.toggler:checked+label::after {
    transform: translateX(100%);
}