:root {
  --green_color: #79B937;
  --dark_color: #343A40;
  --grey_color: #525659;
  --light_color: #CCCECF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}