:root {
  --height-header: 98px;
  --height-footer: 82px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: #79B937;
  transition: color 500s ease-in-out;
}

.link {
  text-decoration: none;
  font-weight: 600;
}

.link:hover {
  text-decoration: underline;
}

.info {
  color: #fff;
}

.error {
  color: #f07852;
}

.success {
  color: #79B937
}

.dark {
  color: #080808;
}

.leaflet-marker-icon {
  filter: contrast(150%);
}

.cluster-icon {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: #79B937;
  color: #080808;
  font-weight: 900;
  font-size: 1.5rem;
  transform: translate(-25%, -25%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.height-fixer {
  min-height: calc(100vh - var(--height-header) - var(--height-footer));
}

.icon-link {
  display: "flex";
  align-items: 'end';
  justify-content: 'center';

}

.person-pin-icon {
  opacity: .65;
}

.default-location-button {
  animation: pulseAnim 2.5s ease 0s 5 normal forwards;
  ;
}

.logo_org {
  margin-left: 5%;
}

.social-icons:hover {
  color: #79B937;
  transition: color .8s;
}

@media (max-width: 480px) {
  .logo_org {
    width: 20%;
  }
}

@media (min-width: 481px) and (max-width: 799px) {
  .logo_org {
    width: 13%;
  }
}

@media (min-width: 800px) {
  .logo_org {
    width: 5%;
  }
}

::selection {
  background-color: #79B937;
  color: #080808;
}

/* animation */
@keyframes pulseAnim {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}